fastapi==0.116.1
uvicorn[standard]==0.35.0
numpy==2.2.6
opencv-python-headless==4.12.0.88
slowapi==0.1.9
pydantic==2.11.7
python-dotenv==1.1.1
asyncpg==0.30.0

pytest==8.4.1
pytest-asyncio==1.1.0
pytest-cov==6.2.1
pytest-mock==3.14.1

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.7.1+cpu
torchvision==0.22.1+cpu

easyocr==1.7.2

psycopg2-binary==2.9.10
httpx==0.28.1
websockets==15.0.1
aiohttp==3.12.15
openai==1.99.9

playwright
pydantic-ai==0.0.24
beautifulsoup4==4.13.4
greenlet==3.1.1
