fastapi
uvicorn[standard]
numpy
opencv-python-headless
slowapi
pydantic
python-dotenv
requests
asyncpg
pytest
pytest-asyncio
pytest-cov
pytest-mock
pandas
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.7.0+cpu
torchvision==0.22.0+cpu
easyocr
pytest-asyncio
pytest
psycopg2-binary
httpx
websockets